{% extends "admin.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin/estadisticas.css' %}">
<!-- <script src="https://cdn.tailwindcss.com"></script> -->
{# IMPORTAMOS LA LIBRERIA DE PLOTLY.JS PARA QUE SE MUESTRE EN NUESTRO HTML #}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div class="stats-section">
    <h1 style="margin-bottom:30%">Estadísticas</h1>
    <div style="margin-bottom:30%">
        <div class="chart-section">
            <h2>Top 3 de usuarios con más imagenes cargadas</h2>
            <div class="chart top-users">
                {{plot_div2|safe}}
            </div>
        </div>
    </div>
    
    <div>
        <div class="chart-section">
            <h2>Imagenes procesadas y editadas por usuario</h2>
            <div class="chart top-users">
                {{plot_div|safe}}
            </div>
        </div>
    </div>
    
    
</div>

<!-- <div class="stats-section mx-auto max-w-3xl">
    <h1 class="text-3xl font-bold mb-8 text-gray-800">Estadísticas</h1>
    
    <div class="chart-section mb-12">
        <h2 class="text-xl font-semibold text-gray-800 mb-6">Imágenes procesadas y editadas por usuario</h2>
        <div class="chart top-users flex items-end h-52 gap-4 py-4">
            <div class="bar h-full bg-black flex-1 transition-all"></div>
            <div class="bar h-4/5 bg-gray-800 flex-1 transition-all"></div>
            <div class="bar h-3/5 bg-gray-600 flex-1 transition-all"></div>
        </div>
    </div>
</div> -->


{% endblock %}